.cursor-pointer {
    cursor:pointer;
}

.file-progress-status {
    padding-left: 10px;
    padding-right: 10px;
}

.file-drop-css {
    line-height: 5em;
    padding: 2em;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Roboto,Arial,Verdana,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #008BFF;
    border: 3px dashed #008AFF;
    border-radius: 12px;
    transition: opacity 0.3s ease;
    background: repeating-linear-gradient(
      -45deg,
      #efefef,
      #efefef 10px,
      #fff 10px,
      #fff 20px
    );
}

.file-drop-css:hover {
    background: #eee;
}

.file-dragover-css {
    background-color: #eee;
}

.or {
    font-size: 1em;
    color: #008BFF;
}
.or::before, .or::after {
    content: "";
    width: 3em;
    border-top: 1px solid #008BFF;
    height: 1px;
    display: inline-block;
    vertical-align: 0.2em;
    margin: 0px 0.25em;
}
