
.prev-page a {
    cursor: pointer !important;
}

.current-page {

}

.next-page a {
    background: #eee !important;
}

.next-page a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #eee !important;
    position: absolute; right: -20px; top: 0;
    z-index: 1;
}

th {
    text-align: center;
}


#crumbs {
    text-align: center;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    height: 41px;
    color: #000;
    background: #D9534F;
    text-align: center;
    padding: 8px 20px 0 40px;
    position: relative;
    margin: 0 8px 0 0;
    font-size: 20px;
    text-decoration: none;
}

#crumbs ul li a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #D9534F;
    position: absolute; right: -20px; top: 0;
    z-index: 1;
}

#crumbs ul li a:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ffffff;
    position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}

#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 80px;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child a:after {
    display: none;
}
